.wrapper {
  background-color: #bc87ff;
}
.navbar {
  height: 92px;
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  align-items: center;
}
.logo {
  width: 505px;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.socialLinks {
  display: flex;
  align-items: center;
}

.socialLinks > :not(:last-child) {
  margin-right: 1rem;
}

.btns {
  display: flex;
  justify-content: flex-end;
}
.walletBtn {
  background: #fffcaf;
  border: 4px solid #000000;
  border-radius: 25px;
  padding: 5px 14px;
}

@media (max-width: 1220px) {
  .socialLinks {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .center {
    grid-row: 1/1;
  }

  .navbar {
    grid-template-columns: 1fr auto auto;
    gap: 2rem;
  }

  .center {
    justify-content: start;
  }

  .logo {
    width: 300px;
  }
}

@media (max-width: 760px) {
  .walletBtn {
    font-size: 18px;
  }

  .navbar {
    gap: 1rem;
    height: 70px;
  }

  .logo {
    width: 200px;
  }
}

@media (max-width: 600px) {
  .walletBtn {
    width: 35px;
    height: 35px;
    font-size: 1.5rem;
    padding: 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #000000;
  }

  .socialLinks > :not(:last-child) {
    margin-right: 0.6rem;
  }

  .navbar {
    gap: 0.6rem;
  }
}

@media (max-width: 360px) {
  .logo {
    width: 150px;
  }
}
