.wrapper {
  background: linear-gradient(180deg, #ffbadf 0%, #bc87ff 100%);
  z-index: 10;
}

.roadmapTITLE {
  margin-bottom: 30%;
}

.roadmap_cat {
  width: 293px;
  margin: 0 auto;
  display: flex;
  margin-top: 20px;
  display: none;
}
.roadmapGIF {
  position: absolute;
  top: 6%;
  left: 0%;
  width: 93%;
  height: 90%;
  z-index: -1;
  object-fit: contain;
}

.cards {
  max-width: 950px;
  width: 100%;
  margin: 0 auto;
}

.card {
  max-width: 373px;
}
.card:not(:first-child) {
  margin-top: -80px;
}
.cardContent {
  background: #ffffff;
  border: 5px solid #000000;
  padding: 14px 25px;
  position: relative;
}

.Sleeping_wizard {
  width: 130px;
  position: absolute;
  top: -98px;
  right: 5px;
}
.gold_cat {
  width: 100px;
  position: absolute;
  top: -92px;
  right: 5px;
}

@media (max-width: 1000px) {
  .roadmap_cat {
    display: flex;
  }
  .roadmapGIF {
    display: none;
  }
  .roadmapTITLE {
    margin-bottom: 30px;
  }
}

@media (max-width: 900px) {
  .card:not(:first-child) {
    margin-top: 0px;
  }
}

@media (max-width: 760px) {
  .gold_cat {
    width: 80px;
    top: -74px;
  }
  .Sleeping_wizard {
    width: 100px;
    top: -78px;
  }

  .roadmap_cat {
    width: 200px;
  }
}
